In [1]:
import pandas as pd
df = pd.read_csv("../data/patients/diet_plan_dataset.csv")
df.head()

,age,gender,weight,height,bmi,systolic_bp,diastolic_bp,activity,goal,health_condition,...,meal5_name,meal5_calories,meal5_protein,meal5_carbs,meal5_fat,meal6_name,meal6_calories,meal6_protein,meal6_carbs,meal6_fat
0,58,male,52.24,179.66,16.18,137,73,light,weight-gain,diabetes,...,NaN,0.0,0,0,0,NaN,0.0,0,0,0
1,23,male,59.21,170.21,20.44,117,85,very-active,weight-gain,thyroid-hyper,...,Scallops,552.5,28,76,15,Fish Fillet,552.5,28,76,15
2,27,male,59.00,180.54,18.10,116,85,sedentary,muscle-gain,diabetes,...,Brown Rice,351.0,18,48,10,Ragi,351.0,18,48,10
3,23,other,80.88,183.18,24.11,105,87,moderate,weight-gain,diabetes,...,NaN,0.0,0,0,0,NaN,0.0,0,0,0
4,47,female,86.32,164.59,31.86,140,65,moderate,weight-gain,pcos,...,Brown Rice (small),436.5,22,60,12,Zucchini,436.5,22,60,12

In [2]:
df.columns

Index(['age', 'gender', 'weight', 'height', 'bmi', 'systolic_bp',
       'diastolic_bp', 'activity', 'goal', 'health_condition', 'diet_type',
       'allergy', 'meals_day', 'daily_calories', 'daily_protein',
       'daily_carbs', 'daily_fat', 'meal1_name', 'meal1_calories',
       'meal1_protein', 'meal1_carbs', 'meal1_fat', 'meal2_name',
       'meal2_calories', 'meal2_protein', 'meal2_carbs', 'meal2_fat',
       'meal3_name', 'meal3_calories', 'meal3_protein', 'meal3_carbs',
       'meal3_fat', 'meal4_name', 'meal4_calories', 'meal4_protein',
       'meal4_carbs', 'meal4_fat', 'meal5_name', 'meal5_calories',
       'meal5_protein', 'meal5_carbs', 'meal5_fat', 'meal6_name',
       'meal6_calories', 'meal6_protein', 'meal6_carbs', 'meal6_fat'],
      dtype='object')

In [3]:
df["health_condition"].head(20)

0          diabetes
1     thyroid-hyper
2          diabetes
3          diabetes
4              pcos
5              none
6              pcos
7          diabetes
8      thyroid-hypo
9      pre-diabetes
10     hypertension
11    thyroid-hyper
12     thyroid-hypo
13     hypertension
14         diabetes
15     hypertension
16         diabetes
17             pcos
18     pre-diabetes
19         diabetes
Name: health_condition, dtype: object